body {
  margin: 0;
  font-family: 'Source Han Code JP';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Form {
  display: flex;
  flex-direction: column;
}